@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700;800&display=swap');

$Main-Text-Color: #2C2C2C;
$Secondary-Text-Color: #A79997;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
  color: $Main-Text-Color;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1680px;
  width: 100%;
  margin: 0 auto;
}

.menu-open {
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-3 {
  width: 25%;
  padding: 15px;
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 768px) {
  .col-3 {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .col-3 {
    width: 100%;
  }
}